<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homePage</title>
    <link href="/assets/css/reset.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/tk_style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js"></script>
    <script src="/js/tk_dice.js"></script>
    <script defer src="/assets/js/script.js"></script>
</head>
<body>

<nav class="navbar_wrap">
    <div class="navbar">
        <div class="navbar_logo">
        <span>
            <i class="fa-solid fa-dice"></i>
        </span>
            <a href="/">
                TK108's Page
            </a>
        </div>
        <ul class="navbar_name">
            <li><a href="#">찬솔</a></li>
            <li><a href="#">유미</a></li>
            <li><a href="/jw-dice">정원</a></li>
            <li><a href="/tk108_dice">태경</a></li>
            <li><a href="/son_dice">대혁</a></li>
            <li><a href="#">예림</a></li>
            <li><a href="#">원균</a></li>
            <li><a href="#">하영</a></li>
        </ul>
    </div>
    <a href="#" class="navbar_toggle_btn">
        <i class="fa-solid fa-bars"></i>
    </a>
</nav>


<div class="container">
    <div class="item item1">
        <div class="wrap">
            <div class="dice">
                <div><i class="fa-solid fa-dice-one"></i></div>
                <div><i class="fa-solid fa-dice-two"></i></div>
                <div><i class="fa-solid fa-dice-three"></i></div>
                <div><i class="fa-solid fa-dice-four"></i></div>
                <div><i class="fa-solid fa-dice-five"></i></div>
                <div><i class="fa-solid fa-dice-six"></i></div>
            </div>
            <div class="dice">
                <div><i class="fa-solid fa-dice-one"></i></div>
                <div><i class="fa-solid fa-dice-two"></i></div>
                <div><i class="fa-solid fa-dice-three"></i></div>
                <div><i class="fa-solid fa-dice-four"></i></div>
                <div><i class="fa-solid fa-dice-five"></i></div>
                <div><i class="fa-solid fa-dice-six"></i></div>
            </div>
            <div class="dice">
                <div><i class="fa-solid fa-dice-one"></i></div>
                <div><i class="fa-solid fa-dice-two"></i></div>
                <div><i class="fa-solid fa-dice-three"></i></div>
                <div><i class="fa-solid fa-dice-four"></i></div>
                <div><i class="fa-solid fa-dice-five"></i></div>
                <div><i class="fa-solid fa-dice-six"></i></div>
            </div>
            <div class="hidden_space"></div>
            <div class="dice">
                <div><i class="fa-solid fa-dice-one"></i></div>
                <div><i class="fa-solid fa-dice-two"></i></div>
                <div><i class="fa-solid fa-dice-three"></i></div>
                <div><i class="fa-solid fa-dice-four"></i></div>
                <div><i class="fa-solid fa-dice-five"></i></div>
                <div><i class="fa-solid fa-dice-six"></i></div>
            </div>
            <div class="dice">
                <div><i class="fa-solid fa-dice-one"></i></div>
                <div><i class="fa-solid fa-dice-two"></i></div>
                <div><i class="fa-solid fa-dice-three"></i></div>
                <div><i class="fa-solid fa-dice-four"></i></div>
                <div><i class="fa-solid fa-dice-five"></i></div>
                <div><i class="fa-solid fa-dice-six"></i></div>
            </div>
        </div>

    </div>
    <div class="item item_button">
<!--        <div class = sw_group>-->
<!--            <input type="checkbox">-->
<!--            <input type="checkbox">-->
<!--            <input type="checkbox">-->
<!--            <input type="checkbox">-->
<!--            <input type="checkbox">-->
<!--        </div>-->
        <div class="button_cover">
            <button name="dice" value="roll" class="button1" id="rolling_button" onclick="getDiceNum()">Dice</button>
            <button name="dice" value="save" class="button2" id="save_button" onclick="saveDice()" disabled>Save</button>
        </div>
    </div>
    <div class="item item2">
        <span class="bold">기록</span>
        <div id="result_list">
        </div>
    </div>
    <div class="item item3">
        <span class="bold">점수</span>
        <p>여긴 yacht 기반 조합에 따른 점수를 보여줄 페이지</p>
        <p>일단은 주사위 5개도 구현이 쉽지않지만 어떻게든 되겠지</p>



    </div>

    <div class="item item6">
        <span class="bold">Designed by Apple in California</span>
        <span class="bold">Assembled in China</span>
    </div>

</div>

</body>
</html>