<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <link rel="stylesheet" th:href="@{css/jungwon_style.css}">
    <link rel="stylesheet" th:href="@{assets/css/reset.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script></script>
    <title>정원 주사위</title>
</head>
<body>
<section class="sm_container">
    <form action="/jw-dice" method="post" th:object="${playerDTO}">
        <div>
            <input type="text" id="player1" th:field="${playerDTO.playerName1}">
            <label for="player1">player1</label>
        </div>
        <div class="not_error" th:errors="${playerDTO.playerName1}">
            이름을 입력해주세요.
        </div>

        <div>
            <input type="text" id="player2" th:field="${playerDTO.playerName2}">
            <label for="player2">player2</label>
        </div>
        <div class="not_error" th:errors="${playerDTO.playerName2}">
            이름을 입력해주세요.
        </div>

        <div class="item-hidden"></div>
        <div>
            <button type="submit">확인</button>
        </div>

    </form>


</section>
</body>
</html>