.sm_container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.item-hidden {
    width: 100%;
}
.sm_container label {
    display: block;
}

.sm_container input {
    width: 342px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

button {
    background-color: #F66B0E;
    width: 342px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.name_error {
    color: red;
}