:root {
    --point-color: #F66B0E;
    --point-color-purple: #8977AD;
    --background-color: #EFEFEF;
    --font-color: #112B3C;
}

.container {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    padding: 15px;
    margin: auto;
}

.item {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
}


.item1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item1 >p{
    padding: 30px;
}

.item i {
    padding: 10px;
    font-size: 75px;
    color: var(--font-color);
}
.wrap {
    position: relative;
    width: 75px;
    height: 75px;
    perspective: 700px;
    cursor: pointer;
}

.wrap::after {
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%);
    /*display: block;*/
    content: "";
    width: 120px;
    height: 10px;
    border-radius: 50%;
    filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.75);
}

.wrap .dice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1.5s;
    transform-style: preserve-3d;

}

.wrap .dice > div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
    /*box-shadow: inset -0.35rem 0.35rem 1rem rgba(0, 0, 0, 0.3),*/
    /*inset 0.5rem -0.25rem 1rem rgba(0, 0, 0, 0.15);*/

    border: 3px solid #555;
    background-color: rgba(253, 253, 253, 0.8);
    /*transition: 4s;*/
}
.wrap .dice:nth-of-type(1) {
    /*position: absolute;*/
    left: -300px;

}
.wrap .dice:nth-of-type(2) {
    /*position: absolute;*/
    left: -150px;
}
.wrap .dice:nth-of-type(3) {
    /*position: absolute;*/
    left: 0;

}
.wrap .dice:nth-of-type(5) {
    /*position: absolute;*/
    left: 150px;
}
.wrap .dice:nth-of-type(6) {
    /*position: absolute;*/
    left: 300px;
}

.wrap .dice > div:nth-child(1) {
    transform: translateZ(35px);
}

.wrap .dice > div:nth-child(2) {
    transform: translateX(-35px) rotateY(-90deg);
}

.wrap .dice > div:nth-child(3) {
    transform: translateZ(-35px) rotateY(-180deg);
}

.wrap .dice > div:nth-child(4) {
    transform: translateX(35px) rotateY(90deg);
}

.wrap .dice > div:nth-child(5) {
    transform: translateY(-35px) rotateX(90deg);
}

.wrap .dice > div:nth-child(6) {
    transform: translateY(35px) rotateX(270deg);
}

.item_button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

}

.sw_group {
    width: 60%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item_button .button_cover {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 250px;
    height: 80px;
}

.button_cover > button {
    font-size: 20px;
    width: 100px;
    height: 50px;
}

.item2 {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;

}
.item2 i {
    font-size: 40px;
}
.item3 {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}

.item-hidden {
    display: none;
    width: 100%;
}
.hidden_space{
    display: none;
    width: 100%;
}

.bold {
    color: var(--point-color);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.item6 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item6 .bold {
    color: var(--point-color-purple);
}

@media screen and (max-width: 768px) {
    .hidden_space {
        display: block;
    }


}
