<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>yumiDice</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js"></script>
    <script src="/js/yumi_dicescript.js"></script>
    <script defer src="/assets/js/script.js"></script>

</head>
<body>

// CSS 및 jS는 시간 갖고 더 하겠습니다 ^~^
<!--article이랑 사용법이 헷갈렸는데 article은 영역을 나누더라도 다른페이지나 영역에 가져다 쓸 수 있다는 점이 차이
지금은 구분이 필요한가 싶어 section 태그 사용-->
<!--<section class="Container">-->
<!--    <div class="item">-->
<!--        <div class="wrap">-->
<!--            <div class="dice">-->
<!--                <div><i class="fa-sharp fa-solid fa-dice-one"></i></div>-->
<!--                <div><i class="fa-sharp fa-solid fa-dice-two"></i></div>-->
<!--                <div><i class="fa-sharp fa-solid fa-dice-three"></i></div>-->
<!--                <div><i class="fa-sharp fa-solid fa-dice-four"></i></div>-->
<!--                <div><i class="fa-sharp fa-solid fa-dice-five"></i></div>-->
<!--                <div><i class="fa-sharp fa-solid fa-dice-six"></i></div>-->

<!--            </div>-->
<!--            <p>시작을 원하면 버튼을 누르세요</p>-->
<!--            <button oneclick="startroll">Start</button>-->
<!--        </div>-->
<!--    </div>-->


<!--</section>-->
<div th:text=${diceNum}>CSS 및 jS는 시간 갖고 더 하겠습니다.</div>
</body>
</html>