<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout (~{::title}, ~{::link}, ~{::script}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>주사위</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script defer src="assets/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js"></script>
    <script src="https://kit.fontawesome.com/e7f299d932.js" crossorigin="anonymous"></script>
</head>
<body>

<p th:text="${yumiDice.getNumber()}"></p>

<section>
    <div wrap="sum">
        <div id="one">
            <i class="fa-solid fa-dice-one"></i>
            <span th:text="${diceHistory.history[1]}">:</span>
        </div>
        <div id="two">
            <i class="fa-solid fa-dice-two"></i>
            <span th:text="${diceHistory.history[2]}">:</span>
        </div>
        <div id="three">
            <i class="fa-solid fa-dice-three"></i>
            <span th:text="${diceHistory.history[3]}">:</span>
        </div>
        <div id="four">
            <i class="fa-solid fa-dice-four"></i>
            <span th:text="${diceHistory.history[4]}">:</span>
        </div>
        <div id="five">
            <i class="fa-solid fa-dice-five"></i>
            <span th:text="${diceHistory.history[5]}">:</span>
        </div>
        <div id="six">
            <i class="fa-solid fa-dice-six"></i>
            <span th:text="${diceHistory.history[6]}">:</span>
        </div>

    </div>
</section>

</body>
</html>